<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="text-align: center;"><i class="far fa-clipboard"></i> OurNote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Bienvenido a OurNote!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      OurNote es la aplicación para guardar tus notas favoritas, con gestion de usuarios!!
    </ion-card-content>

    <ion-img width="100" heigth="200" src="https://www.appdegestion.com/app/99_notebook---tomar-notas/logo/99_notebook---tomar-notas.png"></ion-img>
  </ion-card>
 

  <ion-button expand="block" (click)="login()">Login</ion-button>
  <ion-button expand="block" (click)="register('registro')">Registro</ion-button>

</ion-content>
